<div class="d-flex justify-content-center mt-5">
    <div class="col-6">
        <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
            <div class="fs-2 text-center mb-4">Add Post</div>
            <app-text-input [formControl]="addForm.controls['title']" [label]="'Title'"></app-text-input>
            <app-text-area [formControl]="addForm.controls['description']" [label]="'Description'"></app-text-area>
            <app-text-input [formControl]="addForm.controls['picture']" [label]="'Picture'"></app-text-input>
            <select class="form-select" id="recipeCategory" formControlName='recipeCategory'>
                <option value="" disabled selected>Select a category</option>
                <option *ngFor="let category of categories" [value]="category.id">{{category.name}}</option>
            </select>
            <div class="d-grid">
                <button [disabled]="addForm.invalid" class="btn btn-lg btn-primary mt-3" type="submit">Add
                    Post</button>
            </div>
        </form>
    </div>
</div>