<article class="card mb-5" *ngIf="post">
    <!-- Post picture -->
    <img src="{{post.picture}}">

    <!-- Post body -->
    <div class="card-body">
        <h4>{{post.title}}</h4>
        <p class="card-text">{{post.description}}</p>
        <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
                <!-- View post button -->
                <button routerLink="/post/{{post.id}}" class="btn btn-sm btn-outline-secondary">View</button>
                <!-- Like post button -->
                <button type="button" class="btn btn-sm btn-outline-secondary">Like</button>
            </div>
        </div>
    </div>

</article>