<div class="d-flex justify-content-center">
    <div class="col-6">
        <form [formGroup]="postForm" (ngSubmit)="submitForm()">
            <div class="text-center mb-4">
                <h1 class="mb-3" *ngIf="this.id === null">Add post</h1>
                <h1 class="mb-3" *ngIf="this.id !== null">Update post</h1>

            </div>

            <app-text-input [formControl]="postForm.controls['title']" [label]="'Title'" />

            <app-text-area [formControl]="postForm.controls['description']" [label]="'Description'" />

            <select class="form-select mb-4" (change)="onCategorySelected($event)">
                <option class="list-group-item" *ngFor="let category of categories" [value]="category.id"
                    [selected]="postForm.get('categoryId')?.value === category.id">
                    {{category.name}}
                </option>
            </select>

            <div *ngIf="!postForm.get('picture')?.value" class="mb-3">
                <label for="formFile" class="form-label">Upload picture</label>
                <input class="form-control" type="file" id="formFile" (change)="onPictureSelected($event)">
            </div>

            <div *ngIf="postForm.get('picture')?.value">
                <img [src]="postForm.get('picture')?.value" />
                <button class="btn btn-danger mt-2" type="button" (click)="removeImage()">Remove Image</button>
            </div>

            <div formArrayName="steps" class="my-4">
                <div *ngFor="let step of steps.controls; let i = index" [formGroupName]="i">
                    <div class="d-flex flex-column gap-2">
                        <input formControlName="stepNumber" placeholder="Step Number" class="form-control mt-2">
                        <textarea formControlName="instruction" placeholder="Instruction"
                            class="form-control"></textarea>
                    </div>
                    <div>
                        <button class="btn btn-danger mt-2" (click)="removeStep(i)">Remove</button>
                    </div>
                </div>
            </div>

            <button class="btn btn-primary" (click)="addStep()">Add Step</button>

            <div class="mt-4">
                <button class="btn btn-success">Submit</button>
            </div>


        </form>
    </div>
</div>